* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

h1,
h2,
h3,
p,
ul,
body {
    margin: 0;
}
